
<div class="container">
	<div id="loginForm" class="loginForm pmd-z-depth">
		<div class="pmd-card card-default pmd-z-depth">
			<div class="login-card">
				<form name="resetPasswordForm" role="form" ng-submit="sendEmailReset(resetPasswordForm.$valid)" novalidate>
					<div class="pmd-card-title card-header-border text-center">
						<div class="loginlogo">
							<a ui-sref="home">
								<i class="material-icons md-dark pmd-md" style="font-size: 99px;">account_circle</i>
							</a>
						</div>
						<h3>Reset Password</h3>
					</div>
					
					<div class="pmd-card-body">
	                    <!-- email -->
			            <div class="form-group pmd-textfield pmd-textfield-floating-label" 
			            	ng-class="{'has-error' : resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid}">
			                 <label class="control-label" for="email">Email *</label>
			                 <input id="email" type="email" class="form-control" name="email" ng-minlength="3" ng-maxlength="100" ng-model="email" required/>
			                 <span class="pmd-textfield-focused"></span>
			                 <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$dirty">
			                  	<span ng-message="required" >Email is required.</span>
			                    <span ng-message="minlength" >Email is too short.</span>
								<span ng-message="maxlength" >Email is too long.</span>
								<span ng-message="email">Email invalid.</p>
							</div>
			            </div>
	                </div>
	                
	                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
	                	<div class="form-group">
		                	<button class="btn btn-lg btn-primary btn-block" ng-disabled="resetPasswordForm.$invalid">Submit</button>
						</div>
						<div class="form-group">
		                	<p class="redirection-link">
		                		<a href ui-sref="signin">Back to login</a>
		                		<br/>
		                		<a href ui-sref="home">Back to home</a>
							</p>
						</div>
	                </div>
		      </form>
			</div>
		</div>
	</div>
</div>