<div class="container">
	<div id="resetForm" class="resetForm pmd-z-depth">
		<div class="pmd-card card-default pmd-z-depth">
			<div class="reset-card">
		      	<form name="resetPasswordConfirmForm" role="form" ng-submit="sendPasswordReset(resetPasswordConfirmForm.$valid)" novalidate>
		      		<div class="pmd-card-title card-header-border text-center">
						<div class="loginlogo">
							<a ui-sref="home">
								<i class="material-icons md-dark pmd-md" style="font-size: 99px;">account_circle</i>
							</a>
						</div>
						<h3>Confirm Password</h3>
					</div>
		      		<div class="pmd-card-body">
			        	<!-- email -->
			            <div class="form-group pmd-textfield pmd-textfield-floating-label" 
			            		ng-class="{'has-error' : resetPasswordConfirmForm.newPassword.$dirty && resetPasswordConfirmForm.newPassword.$invalid}">
			                 <label class="control-label" for="email">New Password*</label>
			                 <input id="password" type="password" class="form-control" name="newPassword" ng-minlength="3" ng-maxlength="100" 
			                 		ng-model="newPassword" required/>
			                 <span class="pmd-textfield-focused"></span>
			                 <div class="help-block" ng-messages="resetPasswordConfirmForm.newPassword.$error" ng-if="resetPasswordConfirmForm.newPassword.$dirty">
			                  	<span ng-message="required" >Password is required.</span>
							</div>
			            </div>
			        </div>
		            <!-- group btns -->
		            <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
		                <button class="btn btn-lg btn-primary btn-block" ng-disabled="resetPasswordConfirmForm.$invalid">Submit</button>
		                <div class="form-group">
			        		<a ui-sref="signin">Sign In</a>
			        	</div>
			        	<div class="form-group">
			        		<a ui-sref="home">Back to home</a>
			        	</div>
		            </div>
		      	</form>
	      	</div>
	    </div>
	</div>
</div>