<div class="row">
	<div class="col-md-6"><h1>List Post</h1></div>
	<div class="col-md-6 text-right group-btn">
		<button id='postToggleFilter' ng-class="gridPostsOptions.enableFiltering ? 'active' : ''" 
				class="user-btn" ng-click="toggleFilter()" href="javascript:void(0)">
			<i class="fa fa-filter" aria-hidden="true"></i>
		</button>
		<button id='addPost' class="user-btn" ui-sref="management.addPosts" href="javascript:void(0)">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</button>
		<button id='refreshPost' class="user-btn" ng-click="refresh()" href="javascript:void(0)">
			<i class="fa fa-refresh" aria-hidden="true"></i>
		</button>
	</div>
</div>
<div class="row">
 	<div class="col-md-12">
 		<div id="gridPosts" ui-grid="gridPostsOptions" ui-grid-pagination class="grid"></div>
  	</div>
</div>
